@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  max-width: 100% !important;
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  height: auto;
}

.navbar {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgb(0 0 0/6%);
  height: 5rem;
  margin-bottom: 3rem;
}

html,
body {
  overflow-x: hidden !important;
}

.boxsh {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgb(0 0 0/3%);
}



.newsMarqueeMainParent::-webkit-scrollbar {
  display: none !important;
}

.purpleBg {
  background-color: #4F46E5;
  color: white;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.scalee {
  transition: all ease 300ms;
}

.scalee:hover {
  transform: scale(1.09);
  transition: all ease 300ms;
}

.w45rem {
  width: 43.5rem;
}

.indivitualPage {
  border-radius: 50%;
  transition: all ease 100ms;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center
}

.indivitualPage2 {
  border-radius: 50%;
  transition: all ease 100ms;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center
}

.indivitualPage:hover {
  background-color: rgb(238, 238, 238);
}

.w38rem {
  width: 38.5rem;
}

@media(max-width : 600px) {
  .w38rem {
    width: 15.8rem;
  }
}



.css-1o3pyl4 {
  width: 22% !important;
  box-shadow: 0 40px 31px 0 rgba(0, 0, 0, .17), 0 1px 2px 0 rgb(0 0 0/6%) !important;
  z-index: 999999999;
}

@media(max-width:700px) {
  .css-1o3pyl4 {
    width: 68% !important;
    box-shadow: 0 40px 31px 0 rgba(0, 0, 0, .17), 0 1px 2px 0 rgb(0 0 0/6%) !important;
    z-index: 999999999;
  }

}

.golden{
 color: rgb(250 202 21);
}

@media(max-width :600px){
  .footerIcons{
    justify-content: center;
    width: 11rem;
    margin-right: auto;
    margin-left: auto;
  }
}